@model List<WebApplication1.Models.SecurityProductAssigments> 
    
    <h2>Security Products Assigments</h2> 
    <table>
        <thead>
            <tr>AssigmentId</tr>
            <tr>SecurityProductId</tr>
            <tr>UserId</tr>
            <tr>AssigmentDate</tr>
            <tr>ReturnDate</tr>
        </thead>
        <tbody>
            @foreach(var assigment in Model){
                <tr>@assigment.AssignmentId</tr>
                <tr>@assigment.SecurityProductId</tr>
                <tr>@assigment.UserId</tr>
                <tr>@assigment.AssignmentDate</tr>
                <tr>@assigment.ReturnDate</tr>
            }
        </tbody>
    </table>
